:root{
    //Brand colors 
--color-brand-orange: #e67e22;

--color-primary: #2d2d2d;
--color-secundary: #ffffff;
//border color secundary
--color-border: #e2e2e2;

--color-action-primary: #333333;   // Negro (Botón Checkout)
  --color-action-secondary: #ffffff; // Blanco (Botón Continue)

//Text Color
--color-text-on-primary: #ffffff;
--color-text-on-secondary: #333333;

//Neutral
--color-border-subtle: #cccccc;

//Typography
--font-family-base: 'Inter', sans-serif;
}